h1 REPL Form

form
  textarea#query.form-control rows="10"

  a#perform.btn.btn-default role="button" Run

  pre#result

  javascript:
    $(function () {
      $("#perform").click(function () {
        var query = $("#query").val();
        $.ajax({
          type: "POST",
          url: "/repl/perform",
          data: {
            query: query
          },
          dataType: "html"
        });

        $("#result").html(query);
      });
    });
