h1 REPL Form

form
  textarea#query.form-control rows="10"

  a#perform.btn.btn-default role="button" Run

  img#loading src="/img/loading.gif" style="display:none"

  pre#result

  javascript:
    $(function () {
      $("#perform").click(function () {
        $("#loading").show();

        var query = $("#query").val();
        $.ajax({
          type: "POST",
          url: "/repl/perform",
          data: {
            query: query
          },
          dataType: "text"
        }).done(function (response) {
          $("#result").text(response);
        }).always(function () {
          $("#loading").hide();
        });
      });
    });
